[submodule "vib"]
	path = vib
	url = https://github.com/matijazezelj/vib.git
[submodule "tib"]
	path = tib
	url = https://github.com/matijazezelj/tib.git
[submodule "cib"]
	path = cib
	url = https://github.com/matijazezelj/cib.git
[submodule "iib"]
	path = iib
	url = https://github.com/matijazezelj/iib.git
[submodule "pib"]
	path = pib
	url = https://github.com/matijazezelj/pib.git
